doctype html
html(lang='en')
    head
        title='Activate your account on nodeBook'
    body(style=bodyStyle)
        table(style=bodyTableStyle)
            tr
                td(style=bodyTableCellStyle)
                    | Welcome to NodeBook
                    p Please use the link below to activate your account
            tr
                td(style=bodyTableCellStyle)
                    div
                        a(href=link) Click here!